body {
    margin: 0;
    padding: 0;
}

/*Blue Block*/

.blue {
    background: #00aeff;
}

.flex {
    display: flex;
}

.container {
    max-width: 1240px;
    margin: auto;
}

.header-padding {
    padding-top: 15px;
}

.blue-wrapper {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.blue-item {
    width: 40%;
    height: 86px;
    margin-bottom: 15px;
}

.firstblue {
    background: #009bdd;
}

.secondblue {
    background: #36c3ff;
}

/*MAIN CONTENT*/

.main-cont {
    flex-wrap: wrap;
}

/*Red Block*/

.red {
    padding-left: 20px;
    padding-right: 40px;
    background: #ff5607;
    flex: 1;
}

.red-item {
    background-color: #e84900;
    width: 100%;
    height: 49px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.block {
    flex: 5;
    padding-left: 10px;
}

/* Yellow Block*/

.yellow-container {
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
}

.yellow {
    background: #ffbd00;
    height: 275px;
}

.content-header-wrapper {
    margin-top: 20px;
    width: 100%;
}

/*Content1*/

.content1 {
    background: #fff;
    flex: 2;
}

#grey {
    background: #9d9d9d;
    height: 35px;
}

.item {
    background: #cecece;
    width: 100%;
    height: 29px;
    margin-bottom: 20px;
}

/*Content2*/

.content2 {
    width: 100%;
}

/*Footer*/

.footer {
    background: #00d169;
    justify-content: center;
}

.footin {
    background: #02b15a;
    margin: 15px;
    width: 181px;
}

.in {
    background: #038042;
    height: 36px;
    margin: 15px;
}

/*MEDIA*/

@media screen and (max-width: 1240px) {
    .container {
        width: 100%;
    }
    .header-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
    .content-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 375px) {
    .blue-wrapper {
        flex-direction: column;
    }
    .header-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .blue-item {
        width: 100%;
        height: 40px;
    }
    .main-cont {
        flex-direction: column;
    }
    .content-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .red-mobile {
        display: none;
    }
    .red-item {
        margin: 10px;
        height: 40px;
        margin-top: 20px;
    }
    .red {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        height: 80px;
    }
    .content-header-wrapper {
        flex-direction: column;
        margin-top: 0;
    }
    .yellow-container {
        margin-right: 0;
    }
    .block {
        padding-left: 0;
    }

    .content1,
    .content2 {
        width: 90%;
        margin-left: 20px;
    }

    .footer {
        flex-direction: column;
    }

    .footin {
        width: 90%;
    }

    .in {
        width: 65%;
        margin: 10px;
        /*height: 30px;*/
    }

    .in2 {
        display: none;
    }
}